@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color: rgb(0, 0, 90);
    --color-hover: rgb(0, 0, 31);
    --table-colorbg: rgb(150, 150, 150);
}

* {
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    max-width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(../img/constellation.svg);
    position: relative;
    height: 100vh;
    width: 100vw;
    font-family: 'Open sans', sans-serif;
    font-size: 2.5rem;
    line-height: 1;
}

h1 {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 6rem;
    font-family: sans-serif;
    align-items: center;
    margin: 5rem auto;
}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;

}

thead,
th {
    background: var(--table-colorbg);
    color: var(--primary-color-dark);
}

tbody,
td {
    color: rgb(255, 255, 255);
}

table td,
table th {
    font-weight: 700;
    white-space: nowrap;
    padding: 1rem;
    text-align: center;
    border: 0.5rem solid rgb(255, 255, 255);
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 20px;
    height: 50px;
    padding: 0 20px;
    cursor: pointer;
}

form label {
    color: rgb(255, 255, 255);
    font-size: 2.6rem;
}

form input:focus {
    outline: 1px solid #2ABCD0;
}

form button {
    border: none;
    background: var(--color);
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--color-hover);
}

form button:active {
    background: black;
}

.sectionStyle {
    max-width: 90rem;
    font-family: sans-serif;
    background: rgb(165, 165, 165, 0.77);
    margin: 0.1rem auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.paragrafoResultado,
.bad {
    background: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
}

.bad {
    background: rgb(255, 150, 150);
}

.bg1 {
    background: #6DB5E8;
}

.bg2 {
    background: #8FC9A2;
}

.bg3 {
    background: #F8E551;
}

.bg4 {
    background: #FFA728;
}

.bg5 {
    background: #FC6F41;
}

.bg6 {
    background: #DC4E53;
}

.footer {
    display: flex;
    color: var(--primary-color);
    text-align: left;
    font-size: 2rem;
}

.footer a {
    padding: 1rem;
    color: rgb(255, 255, 255);
}

.heart {
    color: red;
}

.contact-Me {
    margin-left: 0.5rem;
    text-shadow: 1px 1px 1px rgb(1, 80, 170);
}

.contact-Me:hover {
    color: rgb(8, 207, 233);
    transition: all 300ms ease-in-out;
}

.footer p {
    margin: 0;
    padding: 2rem;
}

@media (max-width: 800px) {

    .sectionStyle {
        overflow: hidden;
        overflow-x: auto;

    }

    h1 {
        font-size: 3.3rem;
    }

    .footer {
        font-size: 1.8rem;
    }


}